img.small {
    width: 200px;
    height: 200px;
}

img.medium {
    width: 400px;
    height: 400px;
}

.mr50 {
    margin-right: 50px;
}

.price {
    color: #ff0000;
    font-weight: normal;
    font-size: 23px;
}