<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Каталог электроники</title>
    <link href="{% static 'catalog/css/main.css' %}" rel="stylesheet">
    <script src="{% static 'catalog/js/main.js' %}"></script>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'catalog/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'catalog/bootstrap/css/starter-template.css' %}" rel="stylesheet">
  </head>

  <body>
    {% include "catalog/header.html" %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% include "catalog/footer.html" %}
  </body>
</html>
