{% extends "catalog/base.html" %}

{% block content %}
<div class="mx-auto">
    <div class="row">
        <div class="col-12 mt-5">
            <a href="/{{product.id}}/"> <img src="{{MEDIA_URL}}{{product.image}}" alt="{{product.title}}" class="rounded medium float-left"> </a>
            <div>
                <h2 class="font-weight-bold">{{ product.title }}</h2><br />
                <span class="price">{{ product.price|floatformat }} тг</span><br />
                <b>Технические характеристики</b>
                {{ product.technical_info|linebreaks  }}
            </div>
        </div>
        <div class="col-12 mt-5">
            <h3>Описание {{product.title}}</h3>
           {{ product.description|linebreaks }}
        </div>
    </div>
</div>
{% endblock %}