{% extends "catalog/base.html" %}

{% block content %}
<div class="mx-auto">
    <div class="row">
        <div class="col-12 text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" data-sort="price" class="btn btn-secondary">сначала дешевле</button>
                <button type="button" data-sort="price_rev" class="btn btn-secondary">сначала дороже</button>
                <button type="button" data-sort="name" class="btn btn-secondary"> по названию</button>
            </div>
        </div>

        {% if not product_list %}
           <div class="col-12 mt-5">
               <div class="alert alert-danger" role="alert">
                   <strong>Ничего не найдено </strong><br />
                   Пожалуйста, убедитесь, что запрос введен корректно или переформулируйте его.
               </div>
           </div>
        {% endif %}

        {% for product in product_list %}
        <div class="col-6 mt-5">
            <a href="/{{product.id}}/"> <img src="{{MEDIA_URL}}{{product.image}}" alt="{{product.title}}" class="rounded small float-lg-left"> </a>
            <div>
                <span class="font-weight-bold">{{ product.title }}</span><br />
                <span class="price">{{ product.price|floatformat }} тг</span><br />
                <a class="btn btn-info" href="/{{product.id}}/" role="button">Подробнее</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}